.header {
    height: 400px;
    background-color:aqua;
};

.navbar {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:aqua;
};

/* .navbar-left {
   
}; */

#name {
    font-size: 40x;
    font-weight:bold;
};

/* .navbar-right {
   
}; */