/* Header */
.header {
    height: 400px;
    background-color:aqua;
}

/* Nav Bar */
.navbar {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:white;
    justify-content: center;
}

.navbar-left {
   margin-left: 30px;
   font-size: 40px;
   font-weight: bold;
   color: rgb(95, 93, 93);
   line-height: 5px;
}


.navbar-right {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    line-height: 5px;
    
}

.navbar-right a {
    text-decoration: none;
    color: rgb(95, 93, 93);
}

#about {
    font-size: 40px;
    font-weight: bold;
}

/* Overview */

.aboutmeoverview {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: white;
}